.footer-proyec{
    display: flex;
    align-items: center;
    justify-content: space-between; 
    padding: 0rem 5rem;
}

.btn-proyec{
    width: 100%;
    max-width: 30rem;
    font-size: 1.7rem;
    height: 3.5rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.btn-descarg-proyec{
    margin-top: 1rem;

    background-color: #F57E25;
    color: white;
    font-family: Lemon;
}
.btn-regreso-proyec{
    color: #727272;
}
.btn-regreso-proyec:hover{
    background-color: #0c6dc2;
    color: aliceblue;
    transition: 0.3s;
}

.btn-descarg-proyec:hover {
    background: linear-gradient(to right, #86fde8, #acb6e5);
    /* transition: 5s; */
    transition: 0.3s;
}
