#asistenciaB{
    width: 100%;
    height: 100vh;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows:  14.5rem 1fr auto auto auto;
}

.div-tab-b{
    grid-row: 3/4;
    grid-column: 1/2;
}

.logo-tab{
    grid-column: 1/3;
    grid-row: 4/5;

    max-width: 8.5rem;
    height: 8rem;
    width: 100%;
}

