.sec-tab-dom{
    grid-row: 2/3;
    width: 100%;
}

.sec-tablero{
    width: 100%;
    padding: 1rem;
}

.tit-grado-tab{
    text-align: center;
    font-size: 2rem;
    margin-top: 2rem;
    margin-bottom: 3rem;
    color: rgb(146, 101, 213);
}

.titsEGenerales{
    font-size: 1.6rem;
}

/* MOSTRAR GRADOS */


.d-base-ins-tab{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(5, 1fr);
    gap: 1.5rem;
}

.tit-ins-gen{
    text-align: end;
}

.bt-ins-gen{
    max-width: 3rem;
    width: 100%;
    height: 3rem;
}

.tit-bt-pres-tab{
    grid-column: 1/2;
    grid-row: 1/2;
}

.bt-pres-tab-ins{
    grid-column: 2/3;
    grid-row: 1/2;
    background-color: blue;
}

.tit-bt-au-tab{
    grid-column: 1/2;
    grid-row: 2/3;
}
.bt-au-tab-ins{
    grid-column: 2/3;
    grid-row: 2/3;
    background-color: red;
}

.tit-cor-tab{
    grid-column: 1/2;
    grid-row: 3/4;
}
.ic-cor-tab-ins{
    grid-column: 2/3;
    grid-row: 3/4;
}

.tit-el-tab{
    grid-column: 1/2;
    grid-row: 4/5;
}
.ic-el-tab-ins{
    grid-column: 2/3;
    grid-row: 4/5;
}


.d-cor-gen{
    display: flex;
    align-items: center;
    gap: 2rem;
}


.boton {
    width: 100%;
    max-width: 30rem;
    font-size: 1.7rem;
    height: 3.5rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}


.btn-agregar{
    margin-top: 3rem;
    align-self: center;
    justify-self: center;
    color: #005DAC;
    font-weight: 600;
    font-family: Roboto Flex;
}

.btn-guardar{
    margin-top: 1rem;

    background-color: #F57E25;
    font-size: 1.6rem;
    color: white;
    font-family: Lemon;
    align-self: center;
    justify-self: center;
}

.btn-guardar:hover {
    background: linear-gradient(to right, #86fde8, #acb6e5);
    transition: 5s;
}
