@media (max-width: 835px) {
    #dashboardCoordiB{
        width: 100%;
        height: 100vh;
    
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 5rem 1fr;
    }
    
    .base-dash{
        padding: 1.5rem;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 3.5rem 14rem 14rem 5rem;
        gap: 1rem;
        height: auto;
    }
    
    .dv-proyAdmin{
        align-self: center;
        justify-self: center;
    
        background-color: orange;
        color: aliceblue;
        width: 100%;
        max-width: 27rem;
        height: 8.5rem;
        border-radius: 0.5rem;
    
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 2.5rem;
        cursor: pointer;
    }
    .dv-profAdmin{
        grid-row: 3/4;
    }
    
    
    .dv-verAdminNiv{
        grid-column: 1/2;
        align-self: center;
        justify-self: center;
    
        background-color: orange;
        color: aliceblue;
        width: 100%;
        max-width: 27rem;
        height: 8.5rem;
        border-radius: 0.5rem;
    
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 2.5rem;
        cursor: pointer;
    }
    
    .asis-tit-proyec{
        grid-column: 1/2;
        color: #000CB6;
        font-family: "Orelega One", serif;
        font-weight: 400;
        text-align: center;
        align-self: flex-end;
        font-size: 2.7rem;
    }
    
    /* GRADOS */
    .tit-v-grados{
        grid-column: 1/2;
        
        color: #000CB6;
        font-family: "Orelega One", serif;
        font-weight: 400;
        font-size: 2rem;
        text-align: center;
        align-self: center;
    }
    
    .dv-base-grados{
        margin-top: 1.8rem;
        padding: 2rem 1rem;
        gap: 3rem;
    
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
    
    .btn-regreso-proyec{
        grid-column: 1/2;
        color: #727272;
        font-size: 1.7rem;
        text-align: center;
        align-self: center;
    }
    
    
}



