@media (max-width: 835px) {
    .seccion-login {
        border: 1px solid black;
        width: 100%;
        height: 100vh;
        grid-row: 1/3;
        padding: 2.5rem;
    
        background-color: #F57E25;
    }
    
    .formulario {
        background-color: #fff;
        max-width: 40rem;
        margin: auto;
        height: 58rem;
/*         height: 100%; */
        max-height: 62rem;
        border-radius: 5rem;
    }
    
    .formulario-login {
        display: grid;
        grid-template-rows: auto 4rem 4.3rem repeat(5, 1fr);
        grid-template-columns: 1fr;
        gap: 1rem;
    }
    
    .contenedor-img-login {
        grid-row: 1/2;
        width: 100%;
        height: 18rem;
        overflow: hidden;
    }
    
    .img-banner-login {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-top-right-radius: 5rem;
        border-top-left-radius: 5rem;
    }

    .titulo-bienvenida {
        grid-row: 2/3;
        align-self: flex-start;
        justify-self: center;
        font-size: 3rem;
        font-family: "Orelega One", serif;
        font-weight: 200;
        color: #FF994C;
    }
    
    .contenedor-logo-login {
        grid-row: 1/2;
        grid-column: 1/2;
        position: absolute;
        top: 3%;
        bottom: 22%;
        left: 50%;
        transform: translateX(-50%);
        width: 10.5rem;
        height: 10rem;
        background-color: white;
        border-radius: 3rem;
        padding: 1rem;
    
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .img-logo-login {
        width: 100%;
        height: 100%;
    }
    
    .input {
        width: 100%;
        max-width: 26.5rem;
        height: 4.3rem;
        padding: 1.5rem;
        border-radius: 5rem;
        font-family: "Lemon", serif;
        color: #3d7595;
        border: 3px solid #B6DDFF;
        outline: none;
        background-color: #B6DDFF;
    }
    
    .input::placeholder {
        color: #608DB7;
        font-family: "Lemon", serif;
        font-size: 1.5rem;
    }
    

    .boton {
        width: 100%;
        max-width: 26.5rem;
        font-size: 1.7rem;
        height: 3.5rem;
    }
    
}