@media(max-width: 835px){
    
    #resumenProfesorB{
        width: 100%;
        height: 100vh;
    
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 5rem auto 13rem;
    }
    
    .base-dash{
        padding: 1.5rem;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 3.5rem 3.8rem auto 6.5rem 1fr;
    }
    .asis-tit-proyec{
        grid-column: 1/3;
        color: #000CB6;
        font-family: "Orelega One", serif;
        font-weight: 400;
        text-align: center;
        align-self: flex-end;
        font-size: 2.7rem;
    }
    .nivel-tit-proyec{
        grid-column: 1/3;
        color: #fcc601;
        font-family: "Orelega One", serif;
        font-weight: 200;
        text-align: center;
        align-self: center;
        font-size: 2rem;
    }
    /* GRAFICA */
    .base-graf{
        grid-column: 1/3;
        grid-row: 3/4;
        margin-top: 2rem;
        width: 100%;
        max-width: 34rem;
        min-height: 60rem;
    }
    #graficaGradosProfe{
        height: 100%;
        width: 100%;
    }
    
    .tit-v-grados{
        grid-column: 1/3;
        color: #000CB6;
        font-family: "Orelega One", serif;
        font-weight: 400;
        align-self: flex-end;
        font-size: 2rem;
    }
    .dv-base-alum{
        grid-column: 1/3;
        grid-row: 5/6;
    }
    
}