.sec-head{
    background-color: #005DA9;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto 1fr;
    padding: 1rem;

}
.d-img-head-d{
    grid-column: 2/3;
    grid-row: 1/3;
    align-self: center;
    justify-self: center;

    max-width: 7rem;
    width: 100%;
    height: 7rem;
    background-color: #fff;
    border-radius: 5rem;
}
.img-log-head{
    width: 100%;
    height: 100%;
}


.sec-head-simp{
    background-color: #005DA9;
}

.btn-cs-foo{
    grid-column: 3/4;
    grid-row: 1/2;
    justify-self: end;

    cursor: pointer;
    max-width: 16rem;
    width: 100%;
    height: 4rem;
/*     background-color: #fff; */
    font-size: 1.5rem;
/*     color: #000CB6; */
    color: #fff;
    border-radius: 0.5rem;

    display: flex;
    align-items: center;
    justify-content: center;
}